$accent: #0a5faa;
$text-color: #4a4a4a;
$bg-color: #f9f6fe;

%dosis-300 {
    font-family: 'Dosis-Light';
    font-weight: 300;
}

%roboto-500 {
    font-weight: 500;
    font-family: 'Roboto_Condensed-Medium';
}